@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&family=Julius+Sans+One&family=Roboto:wght@400&display=swap");
@media screen and (max-width: 500px) {
  * {
    margin: 0;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
  }
  * body .mobilecontainer #mobilehome {
    background-color: #080E2F;
    color: white;
    height: 100vh;
  }
  * body .mobilecontainer #mobilehome .tophomemobile {
    display: flex;
  }
  * body .mobilecontainer #mobilehome .tophomemobile .logocircles .logomobile {
    position: absolute;
    opacity: 1;
    margin: 3.5vh 0 0 7vw;
  }
  * body .mobilecontainer #mobilehome .tophomemobile .logocircles .logomobile #logomobile {
    width: 35vw;
    height: 35vw;
  }
  * body .mobilecontainer #mobilehome .tophomemobile .logocircles .backcircle {
    width: 31vw;
    height: 30vw;
    background-color: white;
    border-radius: 50%;
    margin: 5vh 0 0 10vw;
  }
  * body .mobilecontainer #mobilehome .tophomemobile .logocircles .logomobile.dissapear {
    opacity: 0;
    transition: 0.9s;
  }
  * body .mobilecontainer #mobilehome .tophomemobile .logocircles .backcircle.dissapear {
    opacity: 0;
  }
  * body .mobilecontainer #mobilehome .tophomemobile .navlogomenu {
    opacity: 0;
    margin: 2.5vh 0 0 -37vw;
  }
  * body .mobilecontainer #mobilehome .tophomemobile .navlogomenu #navlogomenu {
    width: 40vw;
    height: 40vw;
  }
  * body .mobilecontainer #mobilehome .tophomemobile .navlogomenu.appear {
    opacity: 1;
    transition: 0.9s;
  }
  * body .mobilecontainer #mobilehome .hamburgermobile {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #36395D;
    border-radius: 40px;
    background-color: #36395D;
    width: 24vw;
    height: 6vh;
    margin: 7.5vh 0vh 0 20vw;
  }
  * body .mobilecontainer #mobilehome .hamburgermobile .mobileburger {
    position: relative;
    width: 14vw;
    height: 14vw;
  }
  * body .mobilecontainer #mobilehome .hamburgermobile .mobileclose {
    width: 30vw;
    height: 5vh;
    padding: 1vw;
    position: absolute;
    color: white;
    opacity: 0;
    z-index: 100;
  }
  * body .mobilecontainer #mobilehome .hamburgermobile .mobileclose img {
    width: 12vw;
    height: 12vw;
  }
  * body .mobilecontainer #mobilehome .hamburgermobile .mobileclose.is-shown {
    opacity: 1;
    color: white;
    width: 12vw;
    height: 12vw;
    transition: 0.3s;
  }
  * body .mobilecontainer #mobilehome .hamburgermobile .mobileburger.is-pressed {
    opacity: 0;
    transition: 0.3s;
  }
  * body .mobilecontainer #mobilehome .hamburgermobile.is-pressed {
    background-color: #080E2F;
    transition: 0.3s;
    z-index: 100;
    border: none;
  }
  * body .mobilecontainer .mobile-nav-home {
    position: fixed;
    top: 0;
    left: 100%;
    height: 100vh;
    width: 100%;
    display: block;
    background-color: #080E2F;
    margin: 20vh 0 0 0;
    transition: 0.7s;
    z-index: 95;
  }
  * body .mobilecontainer .mobile-nav-home .mobilelogohome {
    margin: -3vh 0 0 1vw;
  }
  * body .mobilecontainer .mobile-nav-home .mobilelogohome .navlogomobile {
    margin: 0 0 0 3vw;
    width: 40vw;
    height: 40vw;
  }
  * body .mobilecontainer .mobile-nav-home .mobilelisthome {
    margin: 6vh 0 0 14vw;
  }
  * body .mobilecontainer .mobile-nav-home .mobilelisthome a {
    display: block;
    text-align: left;
    text-decoration: none;
    color: white;
    font-family: "Inter", sans-serif;
    font-size: 7vw;
    font-weight: bold;
    margin: 4vh 0 0 0;
  }
  * body .mobilecontainer .mobile-nav-home .slidesocialsmobilehome {
    display: flex;
    flex-direction: row;
    gap: 2vw;
    margin: 7vh 0 0 14vw;
  }
  * body .mobilecontainer .mobile-nav-home .slidesocialsmobilehome img {
    width: 15vw;
    height: 15vw;
  }
  * body .mobilecontainer .mobile-nav-home.slide-in {
    left: 0;
  }
  * body .mobilecontainer .bottomhomemobile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2vh 0 0 0;
  }
  * body .mobilecontainer .bottomhomemobile .photomobile {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 8px solid #36395D;
    border-radius: 50%;
  }
  * body .mobilecontainer .bottomhomemobile .photomobile img {
    border-radius: 50%;
    width: 60vw;
    height: 60vw;
  }
  * body .mobilecontainer .bottomhomemobile .nameheadermobile {
    margin: 6vh 0 0 0;
  }
  * body .mobilecontainer .bottomhomemobile .nameheadermobile #namemobile {
    font-size: 8vw;
    font-weight: bold;
    font-family: "Inter", sans-serif;
    color: #FFFFFF;
  }
  * body .mobilecontainer .bottomhomemobile .nameheadermobile #jobdescripmobile {
    font-family: "Inter", sans-serif;
    text-align: center;
    color: #B7BCD6;
    font-size: 5vw;
  }
  * body .mobilecontainer .bottomhomemobile .catchphrasemobile {
    margin: 8vh 0 0 0;
    text-align: center;
  }
  * body .mobilecontainer .bottomhomemobile .catchphrasemobile #catchphrasemobile {
    font-family: "Roboto", sans-serif;
    color: #FFFFFF;
    font-size: 4vw;
  }
  * body .mobilecontainer .bottomhomemobile .portfoliobuttonmobile {
    border: 1px solid #36395D;
    border-radius: 30px;
    background-color: #36395D;
    padding: 2vw;
    width: 40vw;
    height: 5vw;
    text-align: center;
    margin: 8vh 0 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  * body .mobilecontainer .bottomhomemobile .portfoliobuttonmobile a {
    text-decoration: none;
    font-family: "Inter", sans-serif;
    color: #EBEBEB;
    font-size: 4vw;
  }
  * body #aboutmobilecontainer #aboutmobile {
    background-color: #0E4946;
    color: white;
    height: 100vh;
  }
  * body #aboutmobilecontainer #aboutmobile .topaboutmobile {
    display: flex;
  }
  * body #aboutmobilecontainer #aboutmobile .topaboutmobile .titleabout {
    margin: 5vh 0 0 5vh;
  }
  * body #aboutmobilecontainer #aboutmobile .topaboutmobile .titleabout h1 {
    font-size: 10vw;
    font-family: "Inter", sans-serif;
  }
  * body #aboutmobilecontainer #aboutmobile .topaboutmobile .titleabout.dissapear {
    opacity: 0;
    transition: 0.9s;
  }
  * body #aboutmobilecontainer #aboutmobile .topaboutmobile .abouthamburgermobile {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #627C7A;
    background-color: #627C7A;
    width: 24vw;
    height: 6vh;
    margin: 5vh 0vh 0 20vw;
    border-radius: 40px;
  }
  * body #aboutmobilecontainer #aboutmobile .topaboutmobile .abouthamburgermobile .aboutmobileburger {
    position: relative;
    width: 14vw;
    height: 14vw;
  }
  * body #aboutmobilecontainer #aboutmobile .topaboutmobile .abouthamburgermobile .aboutmobileburger.is-pressed {
    opacity: 0;
    transition: 0.9s;
  }
  * body #aboutmobilecontainer #aboutmobile .topaboutmobile .abouthamburgermobile .aboutmobileclose {
    width: 30vw;
    height: 5vh;
    padding: 1vw;
    position: absolute;
    color: white;
    opacity: 0;
    z-index: 100;
  }
  * body #aboutmobilecontainer #aboutmobile .topaboutmobile .abouthamburgermobile .aboutmobileclose img {
    width: 12vw;
    height: 12vw;
  }
  * body #aboutmobilecontainer #aboutmobile .topaboutmobile .abouthamburgermobile .aboutmobileclose.is-shown {
    opacity: 1;
    color: white;
    width: 12vw;
    height: 12vw;
    transition: 0.3s;
  }
  * body #aboutmobilecontainer #aboutmobile .topaboutmobile .abouthamburgermobile.is-pressed {
    border: 1px solid #0E4946;
    transition: 0.9s;
    background-color: #0E4946;
  }
  * body #aboutmobilecontainer #aboutmobile .bottomaboutmobile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    line-height: 1.8;
    margin: 2vh 0 0 0;
  }
  * body #aboutmobilecontainer #aboutmobile .bottomaboutmobile .infotablet {
    font-family: "Roboto", sans-serif;
    text-align: left;
    padding: 5vh;
    font-size: 4vw;
  }
  * body #aboutmobilecontainer #aboutmobile .bottomaboutmobile .resumemobile {
    border: 1px solid #476D6B;
    border-radius: 40px;
    width: 40vw;
    height: 5vw;
    background-color: #476D6B;
    padding: 2vw;
    margin: 5vh 0 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  * body #aboutmobilecontainer #aboutmobile .bottomaboutmobile .resumemobile a {
    font-family: "Inter", sans-serif;
    text-decoration: none;
    color: #EBEBEB;
    text-align: center;
    font-size: 4vw;
  }
}/*# sourceMappingURL=style.css.map */