// FONTS
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&family=Julius+Sans+One&family=Roboto:wght@400&display=swap');
// COLORS
$mainblue: #080E2F;
$skillswhite: #FFFFFF;
$aboutgreen: #0E4946;
$skillsteal: #146166;
$iconblock: #023430;
$languagewhite: #d9e2e2;
$techcirclegreen: #05607D;
$hoverfonts: #B7BCD6;
$experiencegreen: #255C5A;

// BUTTON COLORS
$learnmorebutton: #EBEBEB;
$experiencegreenbutton: #476D6B;

// DISPLAY SQAURES COLORS
$portfolios: #36395D;
$experiences: #496b69;
$experiencestwo: #476D6B;
$abouts: #627C7A;
$skillses: #7FC4C9;
$skillsdarker: #669EA3;
$skillsdarker2: #507e81;

// BOX SHADOW
$boxshadowcircles: rgba(0, 0, 0, 0.521);

// CIRCLE OUTLINE
$circleoutlines: rgb(221,221,221,0.52);

// FOOTER
$firstblue: #58a6ff;
$secondblue: #6287cf;
$thirdblue: rgb(85, 85, 255);
$smallsgrey: #757782;

// SOCIALS
$socialsgrey: #B7BCD6;

$lighterskills: #080e31;

// MAIN SMARTPHONE VERSION (from 0px to 500px)
@media screen and (max-width:500px) {
    * {
        margin: 0;
        scroll-behavior: smooth;
        scroll-snap-type: y mandatory;
        body {
            .mobilecontainer {
                #mobilehome {
                    background-color: $mainblue;
                    color: white;
                    height: 100vh;
                    .tophomemobile {
                        display: flex;
                        justify-content: space-between;
                        .logomobile {
                            margin: 2vh 0 0 3vw;
                           #logomobile {
                            width: 40vw;
                            height: 40vw;
                           }
                        }
                    }
                    .hamburgermobile {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        border: 1px solid $portfolios;
                        border-radius: 40px;
                        background-color: $portfolios;
                        width: 24vw;
                        height: 8vh;
                        margin: 7vh 4vh 0 0;
                        // Burger img
                        .mobileburger {
                            position: relative;
                            width: 14vw;
                            height: 14vw;
                        }
                        .mobileclose {
                            width: 30vw;
                            height: 5vh;
                            padding: 1vw;
                            position: absolute;
                            color: white;
                            opacity: 0;
                            z-index: 100;
                            img {
                                 width: 12vw;
                                 height: 12vw;
                            }
                        }
                        .mobileclose.is-shown {
                            opacity: 1;
                            color: white;
                            width: 12vw;
                            height: 12vw;
                            transition: .3s;
                        }
                        .mobileburger.is-pressed {
                            opacity: 0;
                            transition: .3s;
                        }
                    }
                    .hamburgermobile.is-pressed {
                        // opacity: 0;
                        background-color: $mainblue;
                        transition: .3s;
                        z-index: 100;
                    }
                }
                .mobile-nav-home {
                    position: fixed;
                    top: 0;
                    left: 100%;
                    height: 100vh;
                    width: 100%;
                    display: block;
                    background-color: $mainblue;
                    margin: 5vh 0 0 0;
                    transition: .7s;
                    z-index: 95;
                    .mobilelogohome {
                        margin: -3vh 0 0 1vw;
                        .navlogomobile {
                            margin: 0 0 0 3vw;
                            width: 40vw;
                            height: 40vw;
                        }
                    }
                    .mobilelisthome {
                        margin: 6vh 0 0 15vw;
                        a {
                            display: block;
                            text-align: left;
                            text-decoration: none;
                            color: white;
                            font-family: 'Inter', sans-serif;
                            font-size: 7vw;
                            font-weight: bold;
                            margin: 4vh 0 0 0;
                        }
                    }
                    .slidesocialsmobilehome {
                        display: flex;
                        flex-direction: row;
                        gap: 2vw;
                        margin: 4vh 0 0 14vw;
                        img {
                            width: 15vw;
                            height: 15vw;
                        }
                    }
                }
                // when nav home is toggled to class 'slide-in'
                .mobile-nav-home.slide-in {
                    left: 0;
                }
            }
        }
    }
}