// FONTS
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&family=Julius+Sans+One&family=Roboto:wght@400&display=swap');
// COLORS
$mainblue: #080E2F;
$skillswhite: #FFFFFF;
$aboutgreen: #0E4946;
$skillsteal: #146166;
$iconblock: #023430;
$languagewhite: #d9e2e2;
$techcirclegreen: #05607D;
$hoverfonts: #B7BCD6;
$experiencegreen: #255C5A;

// BUTTON COLORS
$learnmorebutton: #EBEBEB;
$experiencegreenbutton: #476D6B;

// DISPLAY SQAURES COLORS
$portfolios: #36395D;
$experiences: #496b69;
$experiencestwo: #476D6B;
$abouts: #627C7A;
$skillses: #7FC4C9;
$skillsdarker: #669EA3;
$skillsdarker2: #507e81;

// BOX SHADOW
$boxshadowcircles: rgba(0, 0, 0, 0.521);

// CIRCLE OUTLINE
$circleoutlines: rgb(221,221,221,0.52);

// FOOTER
$firstblue: #58a6ff;
$secondblue: #6287cf;
$thirdblue: rgb(85, 85, 255);
$smallsgrey: #757782;

// SOCIALS
$socialsgrey: #B7BCD6;

$lighterskills: #080e31;

$greyback: #A6A6A6;
$greywords: rgb(206, 206, 212);

// BACKGROUND COLORS
$logobackgrey1: #868383;
$logobackgrey2: #555252;

// MAIN SMARTPHONE VERSION (from 0px to 500px)
@media screen and (max-width:500px) {
    * {
        margin: 0;
        scroll-behavior: smooth;
        scroll-snap-type: y mandatory;
        body {
            .mobilecontainer {
                #mobilehome {
                    background-color: $mainblue;
                    color: white;
                    height: 100vh;
                    .tophomemobile {
                        display: flex;
                        .logocircles {
                            // MAIN LOGO
                            .logomobile {
                                position: absolute;
                                opacity: 1;
                                margin: 3.5vh 0 0 7vw;
                                #logomobile {
                                    width: 35vw;
                                    height: 35vw;
                                }
                            }
                             // BACKGROUND CIRCLE
                            .backcircle {
                                // position: absolute;
                                width: 31vw;
                                height: 30vw;
                                background-color: white;
                                border-radius: 50%;
                                margin: 5vh 0 0 10vw;
                            }
                            // make first logo dissapear
                            .logomobile.dissapear {
                                opacity: 0;
                                transition: .9s;
                            }
                            // make background dissapear
                            .backcircle.dissapear {
                                opacity: 0;
                                // transition: .9s;
                            }
                        }
                        // NAV LOGO
                        .navlogomenu {
                            opacity: 0;
                            margin: 2.5vh 0 0 -37vw;
                            #navlogomenu {
                                width: 40vw;
                                height: 40vw;
                            }
                        }
                        // make second logo appear
                        .navlogomenu.appear {
                            opacity: 1;
                            transition: .9s;
                        }
                    }
                    .hamburgermobile {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        border: 1px solid $portfolios;
                        // border: 1px solid $mainblue;
                        border-radius: 40px;
                        background-color: $portfolios;
                        // background-color: $mainblue;
                        width: 24vw;
                        height: 6vh;
                        margin: 7.5vh 0vh 0 20vw;
                        margin: 5vh 0vh 0 20vw;
                        // Burger img
                        .mobileburger {
                            position: relative;
                            width: 14vw;
                            height: 14vw;
                        }
                        .mobileclose {
                            width: 30vw;
                            height: 5vh;
                            padding: 1vw;
                            position: absolute;
                            color: white;
                            opacity: 0;
                            z-index: 100;
                            img {
                                 width: 12vw;
                                 height: 12vw;
                            }
                        }
                        .mobileclose.is-shown {
                            opacity: 1;
                            color: white;
                            width: 12vw;
                            height: 12vw;
                            transition: .3s;
                        }
                        .mobileburger.is-pressed {
                            opacity: 0;
                            transition: .3s;
                        }
                    }
                    .hamburgermobile.is-pressed {
                        // opacity: 0;
                        background-color: $mainblue;
                        transition: .3s;
                        z-index: 100;
                        border: none;
                    }
                }
                // THE HOME MOBILE NAV MENU
                .mobile-nav-home {
                    position: fixed;
                    top: 0;
                    left: 100%;
                    height: 100vh;
                    width: 100%;
                    display: block;
                    background-color: $mainblue;
                    // background-color: yellow;
                    margin: 20vh 0 0 0;
                    transition: .7s;
                    z-index: 95;
                    .mobilelogohome {
                        margin: -3vh 0 0 1vw;
                        .navlogomobile {
                            margin: 0 0 0 3vw;
                            width: 40vw;
                            height: 40vw;
                        }
                    }
                    .mobilelisthome {
                        // margin: 6vh 0 0 14vw;
                        margin: 6vh 0 0 12vw;
                        a {
                            display: block;
                            text-align: left;
                            text-decoration: none;
                            color: white;
                            font-family: 'Inter', sans-serif;
                            font-size: 7vw;
                            font-weight: bold;
                            margin: 4vh 0 0 0;
                        }
                    }
                    .slidesocialsmobilehome {
                        display: flex;
                        flex-direction: row;
                        gap: 2vw;
                        margin: 7vh 0 0 11vw;
                        img {
                            width: 15vw;
                            height: 15vw;
                        }
                    }
                }
                // when nav home is toggled to class 'slide-in'
                .mobile-nav-home.slide-in {
                    left: 0;
                }
                // BOTTOM of the home section
                .bottomhomemobile {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    margin: 2vh 0 0 0;
                    .photomobile{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        border: 8px solid $portfolios;
                        // border: 8px solid #c4c4c4;
                        border-radius: 50%;
                        img {
                            border-radius: 50%;
                            width: 60vw;
                            height: 60vw;
                        }
                    }
                    .nameheadermobile {
                        margin: 6vh 0 0 0;
                        #namemobile {
                            font-size: 8vw;
                            font-weight: bold;
                            font-family: 'Inter', sans-serif;
                            color: $skillswhite;
                            // color: $greywords;
                        }
                        #jobdescripmobile {
                            font-family: 'Inter', sans-serif;
                            text-align: center;
                            color: $socialsgrey;
                            font-size: 5vw;
                        }
                    }
                    .catchphrasemobile {
                        margin: 8vh 0 0 0;
                        text-align: center;
                        #catchphrasemobile {
                            // font-family: 'Inter', sans-serif;
                            font-family: 'Roboto', sans-serif;
                            color: $skillswhite;
                            // color: $greywords;
                            font-size: 4vw;
                        }
                    }
                    .portfoliobuttonmobile {
                        border: 1px solid $portfolios;
                        border-radius: 30px;
                        background-color: $portfolios;
                        padding: 2vw;
                        width: 40vw;
                        height: 5vw;
                        text-align: center;
                        margin: 8vh 0 0 0;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        a {
                            text-decoration: none;
                            font-family: 'Inter', sans-serif;
                            color: $learnmorebutton;
                            font-size: 4vw;
                        }
                    }
                }
            }
            // ABOUT SECTION
            #aboutmobilecontainer {
                #aboutmobile {
                    background-color: $aboutgreen;
                    color: white;
                    height: 100vh;
                    // TOP of the about section
                    .topaboutmobile {
                        display: flex;
                        .titleabout {
                            margin: 5vh 0 0 5vh;
                            h1 {
                                font-size: 10vw;
                                font-family: 'Inter', sans-serif;
                            }
                        }
                        .titleabout.dissapear {
                            opacity: 0;
                            transition: .9s;
                        }
                        .abouthamburgermobile {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            border: 1px solid $abouts;
                            background-color: $abouts;
                            width: 24vw;
                            height: 6vh;
                            margin: 5vh 0vh 0 20vw;
                            border-radius: 40px;
                            // Burger img
                            .aboutmobileburger {
                                position: relative;
                                width: 14vw;
                                height: 14vw;
                            }
                            .aboutmobileburger.is-pressed {
                                opacity: 0;
                                transition: .9s;
                            }
                            .aboutmobileclose {
                                width: 30vw;
                                height: 5vh;
                                padding: 1vw;
                                position: absolute;
                                color: white;
                                opacity: 0;
                                z-index: 100;
                                img {
                                    width: 12vw;
                                    height: 12vw;
                                }
                            }
                            .aboutmobileclose.is-shown {
                                opacity: 1;
                                color: white;
                                width: 12vw;
                                height: 12vw;
                                transition: .3s;
                            }
                        }
                        .abouthamburgermobile.is-pressed {
                            // opacity: 0;
                            border: 1px solid $aboutgreen;
                            transition: .9s;
                            background-color: $aboutgreen;
                        }
                    }
                    // THE ABOUT MOBILE NAV MENU
                    .mobile-nav-about {
                        position: fixed;
                        top: 0;
                        left: 100%;
                        height: 100vh;
                        width: 100%;
                        display: block;
                        background-color: $aboutgreen;
                        margin: 5vh 5vw 0 0;
                        transition: .7s;
                        z-index: 95;
                        .mobilelogoabout {
                            margin: -3vh 0 0 1vw;
                            .navlogoabout {
                                margin: 0 0 0 3vw;
                                width: 40vw;
                                height: 40vw;
                            }
                        }
                        .mobilelistabout {
                            margin: 6vh 0 0 12vw;
                            a {
                                display: block;
                                text-align: left;
                                text-decoration: none;
                                color: white;
                                font-family: 'Inter', sans-serif;
                                font-size: 7vw;
                                font-weight: bold;
                                margin: 4vh 0 0 0;
                            }
                        }
                        .slidesocialsmobileabout {
                            display: flex;
                            flex-direction: row;
                            gap: 2vw;
                            margin: 7vh 0 0 11vw;
                            img {
                                width: 15vw;
                                height: 15vw;
                            }
                        }
                    }
                    .mobile-nav-about.slide-in {
                        left: 0;
                    }
                    // BOTTOM OF ABOUT SECTION TABLET
                    .bottomaboutmobile {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                        line-height: 1.8;
                        margin: 2vh 0 0 0;
                        .infotablet {
                            font-family: 'Roboto', sans-serif;
                            text-align: left;
                            padding: 5vh;
                            font-size: 4vw; 
                        }
                        .resumemobile {
                            border: 1px solid $experiencegreenbutton;
                            border-radius: 40px;
                            width: 40vw;
                            height: 5vw;
                            background-color: $experiencegreenbutton;
                            padding: 2vw;
                            margin: 5vh 0 0 0;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            a {
                                    font-family: 'Inter', sans-serif;
                                    text-decoration: none;
                                    color: $learnmorebutton;
                                    text-align: center;
                                    font-size: 4vw;
                            }
                        }
                    }
                }
            }
            // SKILLS SECTION
            #skillsmobilecontainer {
                #skillsmobile {
                    background-color: $skillsteal;
                    color: white;
                    height: 215vh;
                    .topskillsmobile {
                        display: flex;
                        .titleskills {
                            margin: 5vh 0 0 5vh;
                            h1 {
                                font-size: 10vw;
                                font-family: 'Inter', sans-serif;
                            }
                        }
                        .titleskills.dissapear {
                            opacity: 0;
                            transition: .9s;
                        }
                        .skillshamburgermobile {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            border: 1px solid $skillsdarker2;
                            background-color: $skillsdarker2;
                            width: 24vw;
                            height: 6vh;
                            margin: 4.8vh 0vh 0 25vw;
                            border-radius: 40px;
                            // Burger img
                            .skillsmobileburger {
                                position: relative;
                                width: 14vw;
                                height: 14vw;
                            }
                            .skillsmobileburger.is-pressed {
                                opacity: 0;
                                transition: .9s;
                            }
                            .skillsmobileclose {
                                width: 30vw;
                                height: 5vh;
                                padding: 1vw;
                                position: absolute;
                                color: white;
                                opacity: 0;
                                z-index: 100;
                                img {
                                    width: 12vw;
                                    height: 12vw;
                                }
                            }
                            .skillsmobileclose.is-shown {
                                opacity: 1;
                                color: white;
                                width: 12vw;
                                height: 12vw;
                                transition: .3s;
                            }
                        }
                        .skillshamburgermobile.is-pressed {
                            border: 1px solid $skillsteal;
                            transition: .9s;
                            background-color: $skillsteal;
                        }
                    }
                    // THE SKILLS MOBILE NAV MENU
                    .mobile-nav-skills {
                        position: fixed;
                        top: 0;
                        left: 100%;
                        height: 100vh;
                        width: 100%;
                        display: block;
                        background-color: $skillsteal;
                        margin: 5vh 5vw 0 0;
                        transition: .7s;
                        z-index: 95;
                        .mobilelogoskills {
                            margin: -3vh 0 0 1vw;
                            .navlogoskills {
                                margin: 0 0 0 3vw;
                                width: 40vw;
                                height: 40vw;
                            }
                        }
                        .mobilelistskills {
                            margin: 6vh 0 0 12vw;
                            a {
                                display: block;
                                text-align: left;
                                text-decoration: none;
                                color: white;
                                font-family: 'Inter', sans-serif;
                                font-size: 7vw;
                                font-weight: bold;
                                margin: 4vh 0 0 0;
                            }
                        }
                        .slidesocialsmobileskills {
                            display: flex;
                            flex-direction: row;
                            gap: 2vw;
                            margin: 7vh 0 0 11vw;
                            img {
                                width: 15vw;
                                height: 15vw;
                            }
                        }
                    }
                    .mobile-nav-skills.slide-in {
                        left: 0;
                    }
                    //////////////////////////////////////////////////////////////////////
                    //////////////////////////////////////////////////////////////////////
                    //////////////////////////////////////////////////////////////////////
                    //////////////////////////////////////////////////////////////////////
                    //////////////////////////////////////////////////////////////////////
                    //////////////////////////////////////////////////////////////////////
                    //////////////////////////////////////////////////////////////////////
                    //////////////////////////////////////////////////////////////////////
                    //////////////////////////////////////////////////////////////////////
                    /// Bottom of Skills Section
                    /// 
                    .bottomskillsmobile {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                        line-height: 1.8;
                        margin: 2vh 0 0 0;
                         // First Circles Div
                         .skillcirclesmobile {
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            align-items: center;
                            gap: 7vh;
                        }
                        // front row of icons
                        .mobileiconsfirstrow {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            gap: 3vw;
                            margin: 5vh 0 -3vh -4vw;
                            .html {
                                display: flex;
                                flex-direction: column;
                                justify-content: center;
                                align-items: center;
                                gap: 1vh;
                                border: 3px solid $skillsdarker2;
                                background-color: $mainblue;
                                border-radius: 10px;
                                border-radius: 50%;
                                padding: 3vh;
                                width: 10vw;
                                height: 10vw;
                                box-shadow: 2px 2px 3px $boxshadowcircles;
                                #html {
                                    width: 11vw;
                                    height: 11vw;
                                }
                                p {
                                    // color: white;
                                    color: white;
                                    font-size: 3vw;
                                    opacity: .7;
                                    // font-weight: bold;
                                    font-family: 'Roboto', sans-serif;
                                }
                            }
                            .css {
                                display: flex;
                                flex-direction: column;
                                justify-content: center;
                                align-items: center;
                                border: 3px solid $skillsdarker2;
                                background-color: $mainblue;
                                border-radius: 10px;
                                border-radius: 50%;
                                padding: 3vh;
                                width: 10vw;
                                height: 10vw;
                                gap: 1vh;
                                box-shadow: 2px 2px 3px $boxshadowcircles;
                                #css {
                                    width: 11vw;
                                    height: 11vw;
                                }
                                p {
                                    color: white;
                                    // color: $languagewhite;
                                    font-size: 3vw;
                                    opacity: .7;
                                    font-family: 'Roboto', sans-serif;
                                }
                            }
                            .sass {
                                display: flex;
                                flex-direction: column;
                                justify-content: center;
                                align-items: center;
                                border: 3px solid $skillsdarker2;
                                background-color: $mainblue;
                                border-radius: 10px;
                                border-radius: 50%;
                                padding: 3vh;
                                width: 10vw;
                                height: 10vw;
                                gap: 1.5vh;
                                box-shadow: 2px 2px 3px $boxshadowcircles;
                                #sass {
                                    width: 10.5vw;
                                    height: 10.5vw;
                                }
                                p {
                                    color: white;
                                    color: $languagewhite;
                                    font-size: 3vw;
                                    opacity: .7;
                                    font-family: 'Roboto', sans-serif;
                                }
                            }
                        }
                        // Responsive Design Description
                        .responsivedesigndescription {
                            display: flex;
                            flex-direction: column;
                            .responsivedesigntitle {
                                // background-color: yellow;
                                // margin: -.5vh 0 -5vh 37vw;
                                margin: 0 0 0 41.5vw;
                                margin: -2vh 0 0 36vw;
                                p {
                                    font-family: 'Julius Sans One', sans-serif;
                                    font-size: 4.5vw;
                                }
                            }
                            // Titled underline
                            .underlineresponsediv {
                                .underlinetablet {
                                    // margin: 2vh 4vw 0 0;
                                    margin: 0vh 0 0 0;
                                    width: 80vw;
                                    height: 1vh;
                                    background-color: $mainblue;
                                    border: none;
                                    box-shadow: 3px 3px 5px $boxshadowcircles;
                                }
                            }
                        }
                        //////////////////////
                        //////////////////////
                        //////////////////////
                        // User Interfaces Row
                        .userinterfacesdivtablet {
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            align-items: center;
                            margin: -8vh 0 0 0;
                            .iconsuserintrowtablet {
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                gap: 2vw;
                                margin: 8vh 4vw 0 0;
                                .reactjs {
                                    display: flex;
                                    flex-direction: column;
                                    justify-content: center;
                                    align-items: center;
                                    border: 3px solid $skillsdarker2;
                                    background-color: $mainblue;
                                    // line-height: -1vh;
                                    border-radius: 50%;
                                    padding: 3vh;
                                    width: 10vw;
                                    height: 10vw;
                                    gap: 1vh;
                                    box-shadow: 2px 2px 3px $boxshadowcircles;
                                    #reactjs {
                                        width: 9.5vw;
                                        height: 9.5vw;
                                    }
                                    p {
                                        color: white;
                                        color: $languagewhite;
                                        font-size: 3vw;
                                        opacity: .7;
                                        font-family: 'Roboto', sans-serif;
                                    }
                                }
                                .react-native {
                                    // background-color: yellow;
                                    display: flex;
                                    flex-direction: column;
                                    justify-content: center;
                                    align-items: center;
                                    border: 3px solid $skillsdarker2;
                                    background-color: $mainblue;
                                    border-radius: 10px;
                                    border-radius: 50%;
                                    padding: 3vh;
                                    width: 10vw;
                                    height: 10vw;
                                    // width: 17vw;
                                    // height: 17vw;
                                    // gap: 0.5vh;
                                    box-shadow: 2px 2px 3px $boxshadowcircles;
                                    #react-native {
                                        width: 11vw;
                                        height: 11vw;
                                    }      
                                    p {
                                        color: white;
                                        color: $languagewhite;
                                        font-size: 3vw;
                                        opacity: .7;
                                        text-align: center;
                                        font-family: 'Roboto', sans-serif;
                                    } 
                                }
                                .figma {
                                    display: flex;
                                    flex-direction: column;
                                    justify-content: center;
                                    align-items: center;
                                    border: 3px solid $skillsdarker2;
                                    background-color: $mainblue;
                                    border-radius: 10px;
                                    border-radius: 50%;
                                    padding: 3vh;
                                    width: 10vw;
                                    height: 10vw;
                                    gap: 1.5vh;
                                    box-shadow: 2px 2px 3px $boxshadowcircles;
                                    #figma {
                                        width: 8vw;
                                        height: 8vw;
                                    }
                                    p {
                                        color: white;
                                        color: $languagewhite;
                                        font-size: 3vw;
                                        opacity: .7;
                                        font-family: 'Roboto', sans-serif;
                                    }
                                }
                            }
                        }
                        //////////////////////////////
                        // User Interfaces Description
                        .userinterfacesdescription {
                            .userinterfacestitle {
                                margin: 2vh 0 2vh .5vw;
                                p {
                                    font-family: 'Julius Sans One', sans-serif;
                                    font-size: 5vw;
                                }
                            }
                            // Titled underline
                            .underlineuserinterfacesdiv {
                                .userinterfacelinetablet {
                                    margin: -2vh 0 0 0vw;
                                    width: 80vw;
                                    height: 1vh;
                                    background-color: $mainblue;
                                    border: none;
                                    box-shadow: 3px 3px 5px $boxshadowcircles;
                                }
                            }
                        }
                        ////////////////////////////
                        ////////////////////////////
                        ////////////////////////////
                        ////////////////////////////
                        /// SCRIPTING ROW
                            .scriptingdivmobile {
                                display: flex;
                                flex-direction: column;
                                justify-content: center;
                                align-items: center;
                                margin: 0vh 5vw 0 0;
                            }
                            .iconsthirdrowmobile {
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                gap: 2.2vw;
                                // margin: 9vh 3vw 0 0;
                                .javascript {
                                    display: flex;
                                    flex-direction: column;
                                    justify-content: center;
                                    align-items: center;
                                    // gap: .1vh;
                                    border: 3px solid $skillsdarker2;
                                    background-color: $mainblue;
                                    border-radius: 50%;
                                    padding: 2vh;
                                    width: 14.5vw;
                                    height: 14.5vw;
                                    box-shadow: 2px 2px 3px $boxshadowcircles;
                                    #javascript {
                                        margin: -1vh 0 0 0;
                                        width: 13vw;
                                        height: 13vw;
                                    }
                                    p {
                                        color: white;
                                        color: $languagewhite;
                                        font-size: 3vw;
                                        opacity: .7;
                                        font-family: 'Roboto', sans-serif;
                                    }
                                }
                                .python {
                                    display: flex;
                                    flex-direction: column;
                                    justify-content: center;
                                    align-items: center;
                                    // gap: 1vh;
                                    border: 3px solid $skillsdarker2;
                                    background-color: $mainblue;
                                    border-radius: 10px;
                                    border-radius: 50%;
                                    padding: 2vh;
                                    width: 14.5vw;
                                    height: 14.5vw;
                                    box-shadow: 2px 2px 3px $boxshadowcircles;
                                    #python {
                                        margin: -1vh 0 0 0;
                                        width: 10vw;
                                        height: 10vw;
                                    }
                                    p {
                                        color: white;
                                        color: $languagewhite;
                                        font-size: 3vw;
                                        opacity: .7;
                                        font-family: 'Roboto', sans-serif;
                                    }
                                }
                                .php {
                                    display: flex;
                                    flex-direction: column;
                                    justify-content: center;
                                    align-items: center;
                                    // gap: 1vh;
                                    border: 3px solid $skillsdarker2;
                                    background-color: $mainblue;
                                    border-radius: 10px;
                                    border-radius: 50%;
                                    padding: 2vh;
                                    width: 14.5vw;
                                    height: 14.5vw;
                                    box-shadow: 2px 2px 3px $boxshadowcircles;
                                    #php {
                                        margin: -1vh 0 0 0;
                                        width: 10vw;
                                        height: 10vw;
                                    }
                                    p {
                                        color: white;
                                        color: $languagewhite;
                                        font-size: 3vw;
                                        opacity: .7;
                                        font-family: 'Roboto', sans-serif;
                                    }
                                }
                            }
                            // Scripting Description and Line
                            .scriptingdescription {
                                .scriptingtitle {
                                    // background-color: yellow;
                                    // margin: 4vh 0 -6vh 60vw;
                                    margin: 2vh 0 -6vh 55vw;
                                    p {
                                        font-family: 'Julius Sans One', sans-serif;
                                        font-size: 5vw;
                                    }
                                }
                                // Titled underline
                                .underlinescriptingdiv {
                                    .scriptinglinetablet {
                                        // margin: 8vh 3vw 0 0;
                                        margin: 6vh 0 0 0;
                                        width: 80vw;
                                        height: 1vh;
                                        background-color: $mainblue;
                                        border: none;
                                        box-shadow: 3px 3px 5px $boxshadowcircles;
                                    }
                                }
                            }

                            ////////////////////////
                            ////////////////////////
                            ////////////////////////
                            ////////////////////////
                            /// Web Frameworks
                            .webframeworksdivtablet {
                                display: flex;
                                flex-direction: column;
                                justify-content: center;
                                align-items: center;
                                .iconsfourthrowtablet {
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                    gap: 2vw;
                                    .nodejs {
                                        display: flex;
                                        flex-direction: column;
                                        justify-content: center;
                                        align-items: center;
                                        gap: 1vh;
                                        border: 3px solid $skillsdarker2;
                                        background-color: $mainblue;
                                        border-radius: 10px;
                                        border-radius: 50%;
                                        padding: 2vh;
                                        width: 15vw;
                                        height: 15vw;
                                        box-shadow: 2px 2px 3px $boxshadowcircles;
                                        #nodejs {
                                            margin: 0vh 0 0 0;
                                            width: 10vw;
                                            height: 11vw;
                                        }
                                        p {
                                            color: white;
                                            color: $languagewhite;
                                            font-size: 3vw;
                                            opacity: .7;
                                            font-family: 'Roboto', sans-serif;
                                        }
                                    }
                                    .django {
                                        display: flex;
                                        flex-direction: column;
                                        justify-content: center;
                                        align-items: center;
                                        gap: .4vh;
                                        border: 3px solid $skillsdarker2;
                                        background-color: $mainblue;
                                        border-radius: 10px;
                                        border-radius: 50%;
                                        padding: 2vh;
                                        width: 15vw;
                                        height: 15vw;
                                        box-shadow: 2px 2px 3px $boxshadowcircles;
                                        #django {
                                            margin: 0vh 0 0 0;
                                            width: 12vw;
                                            height: 12vw;
                                        }
                                        p {
                                            color: white;
                                            color: $languagewhite;
                                            font-size: 3vw;
                                            opacity: .7;
                                            font-family: 'Roboto', sans-serif;
                                        }
                                    }
                                    .laravel {
                                        display: flex;
                                        flex-direction: column;
                                        justify-content: center;
                                        align-items: center;
                                        gap: 1vh;
                                        border: 3px solid $skillsdarker2;
                                        background-color: $mainblue;
                                        border-radius: 10px;
                                        border-radius: 50%;
                                        padding: 2vh;
                                        width: 15vw;
                                        height: 15vw;
                                        box-shadow: 2px 2px 3px $boxshadowcircles;
                                        #laravel {
                                            margin: 0vh 0 0 0;
                                            width: 8vw;
                                            height: 8vw;
                                        }
                                        p {
                                            color: white;
                                            color: $languagewhite;
                                            font-size: 3vw;
                                            opacity: .7;
                                            font-family: 'Roboto', sans-serif;
                                        }
                                    }
                                }
                                // Web Frameworks Description
                                .webframeworksdescription {
                                    .serversidetitle {
                                        // background-color: yellow;
                                        // width: 100%;
                                        // margin: 4vh 0 -6vh .5vw;
                                        margin: 2vh 0 0 1vw;
                                        p {
                                            font-family: 'Julius Sans One', sans-serif;
                                            font-size: 5vw;
                                        }
                                    }
                                    // Titled underline
                                    .underlinewebframeworksdiv {
                                        .webframeworkslinetablet {
                                            // margin: 8vh 2vw 0 0vw;
                                            margin: 0vh 0 0 0vw;
                                            width: 80vw;
                                            height: 1vh;
                                            background-color: $mainblue;
                                            border: none;
                                            box-shadow: 3px 3px 5px $boxshadowcircles;
                                        }
                                    }
                                }
                    
                        }
                           // DATABASE INTEGRATION DIV
                           .databasedivmobile {
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            align-items: center;
                            .iconsfifthrowmobile {
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                gap: 2vw;
                                .mongo {
                                    display: flex;
                                    flex-direction: column;
                                    justify-content: center;
                                    align-items: center;
                                    gap: 1vh;
                                    border: 3px solid $skillsdarker2;
                                    background-color: $mainblue;
                                    border-radius: 10px;
                                    border-radius: 50%;
                                    padding: 2vh;
                                    width: 13vw;
                                    height: 13vw;
                                    box-shadow: 2px 2px 3px $boxshadowcircles;
                                    #mongo {
                                        margin: 0vh 0 0 0;
                                        width: 3vw;
                                        height: 8vw;
                                    }
                                    p {
                                        color: white;
                                        color: $languagewhite;
                                        font-size: 2.5vw;
                                        opacity: .7;
                                        font-family: 'Roboto', sans-serif;
                                    }
                                }
                                .firebase {
                                    display: flex;
                                    flex-direction: column;
                                    justify-content: center;
                                    align-items: center;
                                    gap: 1vh;
                                    border: 3px solid $skillsdarker2;
                                    background-color: $mainblue;
                                    border-radius: 10px;
                                    border-radius: 50%;
                                    padding: 2vh;
                                    width: 13vw;
                                    height: 13vw;
                                    box-shadow: 2px 2px 3px $boxshadowcircles;
                                    #firebase {
                                        margin: -2vh 0 0 0;
                                        width: 10vw;
                                        height: 10vw;
                                    }
                                    p {
                                        color: white;
                                        color: $languagewhite;
                                        font-size: 2.5vw;
                                        opacity: .7;
                                        font-family: 'Roboto', sans-serif;
                                    }
                                }
                                .postgre {
                                    display: flex;
                                    flex-direction: column;
                                    justify-content: center;
                                    align-items: center;
                                    gap: .5vh;
                                    border: 3px solid $skillsdarker2;
                                    background-color: $mainblue;
                                    border-radius: 10px;
                                    border-radius: 50%;
                                    padding: 2vh;
                                    width: 13vw;
                                    height: 13vw;
                                    box-shadow: 2px 2px 3px $boxshadowcircles;
                                    #postgre {
                                        margin: 0vh 0 0 0;
                                        width: 8vw;
                                        height: 7.5vw;
                                    }
                                    p {
                                        color: white;
                                        color: $languagewhite;
                                        font-size: 2.5vw;
                                        opacity: .7;
                                        font-family: 'Roboto', sans-serif;
                                    }
                                }
                            }
                            // Database Description and Underline
                            .databasedescription {
                                .databasetitle {
                                    // background-color: yellow;
                                    // margin: 4vh 0 -4vh 34vw;
                                    margin: 4vh 0 0 34vw;
                                    p {
                                        font-family: 'Julius Sans One', sans-serif;
                                        font-size: 4vw;
                                    }
                                }
                                // Titled underline
                                .underlinedatabasediv {
                                    .databaselinetablet {
                                        // margin: 6vh 2vw 0 0;
                                        margin: 2vh 0 0 0;
                                        width: 80vw;
                                        height: 1vh;
                                        background-color: $mainblue;
                                        border: none;
                                        box-shadow: 3px 3px 5px $boxshadowcircles;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        .body.no-scroll {
            overflow: hidden;
        }
    }
}