@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&family=Julius+Sans+One&family=Roboto:wght@400&display=swap");
@media screen and (max-width: 500px) {
  * {
    margin: 0;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
  }
  * body .mobilecontainer #mobilehome {
    background-color: #080E2F;
    color: white;
    height: 100vh;
  }
  * body .mobilecontainer #mobilehome .tophomemobile {
    display: flex;
    justify-content: space-between;
  }
  * body .mobilecontainer #mobilehome .tophomemobile .logomobile {
    margin: 2vh 0 0 3vw;
  }
  * body .mobilecontainer #mobilehome .tophomemobile .logomobile #logomobile {
    width: 40vw;
    height: 40vw;
  }
  * body .mobilecontainer #mobilehome .hamburgermobile {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #36395D;
    border-radius: 40px;
    background-color: #36395D;
    width: 24vw;
    height: 8vh;
    margin: 7vh 4vh 0 0;
  }
  * body .mobilecontainer #mobilehome .hamburgermobile .mobileburger {
    position: relative;
    width: 14vw;
    height: 14vw;
  }
  * body .mobilecontainer #mobilehome .hamburgermobile .mobileclose {
    width: 30vw;
    height: 5vh;
    padding: 1vw;
    position: absolute;
    color: white;
    opacity: 0;
    z-index: 100;
  }
  * body .mobilecontainer #mobilehome .hamburgermobile .mobileclose img {
    width: 12vw;
    height: 12vw;
  }
  * body .mobilecontainer #mobilehome .hamburgermobile .mobileclose.is-shown {
    opacity: 1;
    color: white;
    width: 12vw;
    height: 12vw;
    transition: 0.3s;
  }
  * body .mobilecontainer #mobilehome .hamburgermobile .mobileburger.is-pressed {
    opacity: 0;
    transition: 0.3s;
  }
  * body .mobilecontainer #mobilehome .hamburgermobile.is-pressed {
    background-color: #080E2F;
    transition: 0.3s;
    z-index: 100;
  }
  * body .mobilecontainer .mobile-nav-home {
    position: fixed;
    top: 0;
    left: 100%;
    height: 100vh;
    width: 100%;
    display: block;
    background-color: #080E2F;
    margin: 5vh 0 0 0;
    transition: 0.7s;
    z-index: 95;
  }
  * body .mobilecontainer .mobile-nav-home .mobilelogohome {
    margin: -3vh 0 0 1vw;
  }
  * body .mobilecontainer .mobile-nav-home .mobilelogohome .navlogomobile {
    margin: 0 0 0 3vw;
    width: 40vw;
    height: 40vw;
  }
  * body .mobilecontainer .mobile-nav-home .mobilelisthome {
    margin: 6vh 0 0 15vw;
  }
  * body .mobilecontainer .mobile-nav-home .mobilelisthome a {
    display: block;
    text-align: left;
    text-decoration: none;
    color: white;
    font-family: "Inter", sans-serif;
    font-size: 7vw;
    font-weight: bold;
    margin: 4vh 0 0 0;
  }
  * body .mobilecontainer .mobile-nav-home .slidesocialsmobilehome {
    display: flex;
    flex-direction: row;
    gap: 2vw;
    margin: 4vh 0 0 14vw;
  }
  * body .mobilecontainer .mobile-nav-home .slidesocialsmobilehome img {
    width: 15vw;
    height: 15vw;
  }
  * body .mobilecontainer .mobile-nav-home.slide-in {
    left: 0;
  }
}/*# sourceMappingURL=style.css.map */